.App {
  font-size: 30px;
  color: #ffffff;
  width: 375px;
  height: 812px;
  margin: 10px auto;
  background-color: #282C37;
  padding: 20px 10px 10px 10px;
  border-radius: 10px;
  overflow: auto;
}
